/* style.css or a global stylesheet */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace;
  background: rgba(226, 227, 216, 1);
/*background: linear-gradient(180deg,rgba(226, 227, 216, 1) 0%, rgba(171, 165, 109, 1) 73%);*/

/*  color:white;*/
}

body{
  min-height:1200px;
}